scripts/testfiles/projects_workspace/TIP004_MAGENTO_REST/M3Item.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="M3Items">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="Item"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Item">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ITNO"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ITNO" type="xs:integer"/>
</xs:schema>